{% extends 'base.html.twig' %}

{% block title %}👾 - gameMap{% endblock %}

{% block body %}
<div class="container-lg">
    <div class="d-flex justify-content-around align-items-center">
        <h1>GameMap</h1>
    </div>
    {{ form(form) }}

</div>
{% endblock %}
