{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container-lg">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>User</h1>
    </div>
    {{ form(form) }}

    <hr>

    <div class="alert alert-info" role="alert">
        Your group secret is: <span class="font-italic">{{group.secret}}</span>
    </div>

</div>
{% endblock %}
