
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container-sm"> 
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3>🕹 ScoreCard • Register</h3>
        </div>

        {{ form(form) }}

        <a class="button mt-4" href="{{ path('login') }}">or login</a>
    </div>
{% endblock %}